*.o
*.so*
xflr5-gui/moc/*
xflr-server/moc/*
xflr5-engine/moc/*
xflr5-gui/rcc/*
testing/*
*.mp4
*.json
*.whl
*.tar.gz
*.pyc
Makefile
# Ignore all compilation and binary files
xflr5/.qmake.stash
xflr5/**/Makefile
xflr5/**/objects/
xflr5/XFoil-lib/*.so*
xflr5/xflr5v6/moc/
xflr5/xflr5v6/rcc/
xflr5/xflr5v6/xflr5
