[Desktop Entry]
Type=Application
Name=XFLR5 v6.38
Comment=XFLR5 is an analysis tool for airfoils, wings and planes operating at low Reynolds Numbers.
Exec=/usr/bin/xflr5
Icon=/opt/xflr5/xflr5-gui/images/xflr5.png
Terminal=false
Categories=Science; Education;
