body {
	font-family: sans-serif;
	text-align: center;
	color: #000000;
	background-color: white;
}

html, body, #wrapper, h1, #nav-top, #nav-top li{
	margin: 0;
	padding: 0;
	list-style: none;
}

th, td {
}

img { border: 0; }


#title 
{
	margin:13px 12px 10px 10px;
	align: center;
	font-size: 317%;
	color: darkred;
	position: relative;
	line-height: 1.3;
}



#nav-top 
{
	font-size: 131%;
	margin: 53px 12px 10px 10px;
	align: center
	position: absolute;
 	color: #45a;
	line-height: 3 ;
}

#nav-top li {
	display: inline;
}

#nav-top a {
	font-size: 123%;
	color: #45a;
	text-decoration: none;
}

#nav-top a:hover {
	  text-decoration: underline;
}


#wrapper {
	margin: 16px auto;
	text-align: left;
	width: 100%;
	position: relative;
	line-height: 1.3 ;
}

#paragraph {
	margin: 16px auto;
	text-align: left;
	width: 71%;
	position: relative;
	line-height: 1.3 ;
    
}

#images {
	margin: 16px auto;
	align-content: center;
	width: 100%;
}


h1 {
	font-size: 147%;
    margin-top: 1em;
	padding: 0;
	color: cadetblue;
}

h2 {
    margin-top: 1em;
	font-size: 133%;
	padding: 0;
	color:  steelblue ;
}

h3 {
    margin-top: 1em;
	font-size: 117%;
	font-weight: bold;
}



p {
	font-size: 100%;
    margin-bottom: 1em;

	padding: 0;
}




a {
	color: steelblue;
}

a:hover {
	color: cadetblue;
}


table, th, td {
  border: 1px solid black;
}

tr {
  text-align: center;
}

.row {
  display: flex;
}


.column {
  flex: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
