<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>XFLR5</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>xfl</string>
                <string>XFL</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>XFLR5 Project</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>xfl.xflr5.sourceforge.net</string>
            </array>
            <key>LSIsAppleDefaultForType</key>
            <true/>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>wpa</string>
                <string>WPA</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>XFLR5 Old-Style Project</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>wpa.xflr5.sourceforge.net</string>
            </array>
            <key>LSIsAppleDefaultForType</key>
            <true/>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>plr</string>
                <string>PLR</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>XFLR5 Polar File</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>plr.xflr5.sourceforge.net</string>
            </array>
            <key>LSIsAppleDefaultForType</key>
            <true/>
        </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>xfl.xflr5.sourceforge.net</string>
            <key>UTTypeDescription</key>
            <string>XFLR5 Project</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>xfl</string>
                    <string>XFL</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>wpa.xflr5.sourceforge.net</string>
            <key>UTTypeDescription</key>
            <string>XFLR5 Old-Style Project</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>wpa</string>
                    <string>WPA</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>plr.xflr5.sourceforge.net</string>
            <key>UTTypeDescription</key>
            <string>XFLR5 Polar File</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>plr</string>
                    <string>PLR</string>
                </array>
            </dict>
        </dict>
    </array>
    <key>CFBundleIconFile</key>
    <string>xflr5.icns</string>
    <key>CFBundleIdentifier</key>
    <string>xflr5.sourceforge.net</string>
    <key>CFBundleName</key>
    <string>XFLR5</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>6.47</string>
    <key>CFBundleSignature</key>
    <string>XFLR</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleVersion</key>
    <string>6.47.1181</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <string>True</string>
</dict>
</plist>