[Desktop Entry]
Categories=Science;Math
Comment[en_GB]=xflrpy - Airfoil and plane analysis tool with Python APIs
Comment=xflrpy - Airfoil and plane analysis tool with Python APIs
Exec=/usr/local/bin/xflrpy
GenericName[en_GB]=
GenericName=
Icon=/usr/local/share/xflrpy/xflrpy.png
MimeType=
Name[en_GB]=xflrpy
Name=xflrpy
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
